@model Teacher
@{
    ViewBag.Title = "Добавление преподавателя";
}
<form asp-action="create" asp-controller="teacher">
    <div class="form-group">
        <label asp-for="Name" class="control-label">ФИО</label>
        <input type="text" asp-for="Name" class="form-control" />
        <label asp-for="Lesson" class="control-label">Предмет</label>
        <input type="text" asp-for="Lesson" class="form-control" />
        <label asp-for="Faculty" class="control-label">Кафедра</label>
        <input type="text" asp-for="Faculty" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-outline-dark" />
    </div>
</form>